<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    <div id="headerContainer">
      <div>Message Board</div>
    </div>
    <div id="addMessageContainer">
      <button onclick="window.location.href='/new'">
        <img id='imgsvg' src="/addcomment.svg" />
      </button>
    </div>
    <div id="main">
      <div id="messagesContainer">
        <% messages.forEach((message) => { %>
          <%- include('message', {username: message.user, date: message.addedDate, time: message.addedTime ,message: message.text}); %>
        <% }); %>
      </div>   
    </div>
  </body>
</html>
