<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="headerContainer">
      <div>Message Board</div>
    </div>
    <div id="addMessageContainer">
      <button onclick="window.location.href='/new'">
        <img id='imgsvg' src="/addcomment.svg" />
      </button>
    </div>
    <div id="main">
      <div id="messagesContainer">
        <% messages.forEach((message) => { %>
          <%- include('message', {username: message.user, date: message.addedDate, time: message.addedTime ,message: message.text}); %>
        <% }); %>
      </div>   
    </div>
  </body>
</html>
