<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    <ul>
      <% messages.forEach((message) => { %>
        <%- include('message', {message: message.text}); %>
      <% }); %>
    </ul>    
  </body>
</html>
