* {
  border: solid red 1px;
}

body {
  min-height: 100vh;
}

#main {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#headerContainer {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#addMessageContainer {
  height: 5%;
}

#messagesContainer {
  width: 80%;
  height: 60%;
  flex-direction: column;
}

#messageContainer {
  min-height: 100%;
  max-width: 100%;
  margin: 3%;
  flex: 1;
}

#messageInfoContainer,
#dateContainer {
  display: flex;
}
#usertextContainer {
  display: flex;
}

#forumContainer {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#textContainer {
  max-width: 100%; 
}

#text {
  width: 100%;
  width: 100%;  
  word-wrap: break-word; 
}
