* {
  border: solid rgba(255, 255, 255, 0) 1px;
}

body {
  font-family: "Montserrat", sans-serif;;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

#main {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#headerContainer {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerContainer div {
  font-size: 2rem;
  font-weight: 500;
}

#addMessageContainer, #addMessageContainerAlt {
  opacity: 70%;
  position:fixed;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 89, 255);
  left: 85%;
  top: 15%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#addMessageContainer button, #addMessageContainerAlt button {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(0, 89, 255);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, opacity 0.2s ease;

}

#addMessageContainer:hover, #addMessageContainerAlt:hover {
  opacity: 100%;
}

#addMessageContainerAlt button {
  background-color: grey;
}

#addMessageContainer button:hover, #addMessageContainerAlt button:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 1;
}

#addMessageContainer img, #addMessageContainerAlt img {
  height: 50%;
  width: 50%;
}

#imgsvg {
  height: 50%;
  width: 50%;
}

#messagesContainer {
  color: white;
  width: 80%;
  height: 60%;
  flex-direction: column;
  background-color: rgb(5, 24, 58);
}

#messageContainer {
  min-height: 100%;
  max-width: 100%;
  margin: 3%;
  flex: 1;

}

#messageInfoContainer,
#dateContainer {
  flex: 1;
  display: flex;
}

#dateContainer {
  gap: 1%;
  border-bottom: solid blue 1px;
}

#userName {
  font-weight: 500;
}

#usertextContainer {

  gap: 0.5%;
}

#date {
  letter-spacing: 2px;
  font-size: 0.8rem;
}

#formContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

legend {
  font-style: italic;
}

img {
  border: none;
}

form {
  height: 20%;
  display: flex;
}

fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.formEntries {
  display: flex;

}

.formEntries input {
  outline: none;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

#textContainer {
  max-width: 100%; 
  display: flex;
  gap: 0.5%;
  flex-wrap: wrap;
  margin-left: 0.5%;
}

#text {
  font-family: "Quicksand", sans-serif;
  overflow: break-word;
  word-wrap: break-word; 
  max-width: 95%;
}

#time {
  flex: 2; 
  min-width: 100%;
  font-size: 0.6rem;
  font-style: italic;
  display: flex;
  align-items: flex-end;
}


/*minimize */ 
@media (max-width:1500px) {
  body {
    font-size: 0.9rem;
  };
}


/* mobile */
@media (max-width: 700px) {
  
  body {
    font-size: 0.8rem;
    margin: 3%;
  }

  #messagesContainer {
    width: 100%
  };



  #addMessageContainer, #addMessageContainerAlt {
    position: absolute;
    left: 500px;
  }

}